body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #a67cbf;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'PT Sans', sans-serif;
}

.app {
    background: #420a63;
    padding: 30px;
    height: 100vh;
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Aboreto', cursive;
}

.todo-list {
    background: #9757b3;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-rows: 6rem 1fr;
}

.todo {
    background: #611f83;
    color: #caaed8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 2;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
    grid-row: 1;
}